@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@layer components {
  .hoverEffect:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    background-color: #faaf0063;
  }
}

path {
  stroke: black;
  stroke-width: 1.7;
  fill: none;
}
